body {
	padding: 0;
	margin: 0;

	font-family: "PT Sans", Times New Roman, serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Общий хедер*/

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}

.navigation-list {
	list-style: none;
}

.navigation-list a {
	color: #000000;
}

.navigation-list a:hover {
	color: #81b3d2;
}

.navigation-list a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.navigation-item-current a {
	color: #766357;
}

/*index.html*/

.introduction .main-picture {
	background-color: #687d8c;
}

.introduction .description {
	color: #000000;
	font-size: 21px;
	text-align: center;

	background-color: #ffffff;
}

.introduction .why-better {
	color: #333333;
	font-weight: 400;
	text-align: center;

	background-color: #ffffff;	
}

.reasons {
	line-height: 21px;
}

.reasons .reasons-list, 
.reasons-list .comfort {
	list-style: none;
}

.reasons .reason-image {
	color: #ffffff;

	background-color: #81b3d2;
}

.reasons .reason-no-image {
	color: #000000;

	background-color: #eeeeee;
}

.reason-item .reason-title {
	font-size: 21px;
	text-align: center;
}

.reason-item .reason-description {
	font-weight: 400;
	text-align: center;
}

.reasons-list .comfort {
	color: #000000;

	background-color: #ffffff;
}

.comfort h3 {
	font-size: 21px;
	text-align: center;
}

.comfort p {
	font-weight: 400;
	text-align: center;
}

.hotel-search .interest {
	color: #333333;
	font-weight: 400;
	line-height: 24px;
	text-align: center;

	background-color: #ffffff;	
}

.interest span {
	color: #000000;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}

.search-button {
	font: inherit;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;

	background-color: #766357;
	border: none;
}

.search-button:hover {
	background-color: #604e43;
}

.search-button:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.search-form {
	color: #000000;

	background-color: #ffffff;
}

.search-form input {
	font: inherit;
	/*Почему-то цвет текста не меняется. 
	Его как-то к плейсхолдеру надо применить через селектор по атрибуту?*/
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.search-form .find-button {
	font: inherit;
	font-size: 21px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #81b3d2;
	border: none;
}

.search-form .find-button:hover {
	background-color: #669ec0;
}

.search-form .find-button:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

/*hotels.html*/

.hotels-filter {
	color: #ffffff;
	line-height: 21px;

	background-color: #657a8a;
	background-image: url("../img/filter-background.jpg");
}

.hotels-filter ul {
	list-style: none;
}

.filter-form fieldset {
	border: none;
}

.filter-form legend {
	font-size: 16px;
}

.filter-form label {
	font-weight: 400;
}

.filter-form .result-button {
	border: 2px solid #ffffff;

	color: #ffffff;
	font: inherit;
	font-weight: 400;
	text-transform: uppercase;

	background-color: transparent;
}

.filter-form .result-button:hover {
	color: #000000;

	background-color: #ffffff;
}

.search-result {
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;

	background-color: #ffffff;
}

.sorting .sorting-find {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.sorting .sorting-variants {
	list-style: none;
}

.sorting-variants a {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);

	color: rgba(0, 0, 0, 0.3);
}

.sorting-variants a:hover {
	border-bottom: 1px dotted #81b3d2;

	color: #81b3d2;
}

.sorting-variants a:focus {
	border: none;

	color: #000000;
}

.sorting-current-item a {
	border: none;

	color: #81b3d2;	
}

























.search-result {
	color: #000000;

	background-color: #ffffff;
}

.hotels-list {
	list-style: none;
}

.hotel-name a {
	font-size: 21px;
	color: #000000;
}

.hotel-name a:hover {
	color: #81b3d2;
}

.hotel-name a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.hotels-list-items .hotel-amara {
	background-color: #7d3945;
}

.hotels-list-items .hotel-desert {
	background-color: #9e898b;
}

.hotels-list-items .hotel-villas {
	background-color: #73874b;
}

.hotel-category, 
.hotel-price {
	font-weight: 400;
	color: #333333;
}

.hotel-rating {
	font-weight: 400;
	color: #666666;

	background-color: #f2f2f2;
}

.hotel-buttons a {
	font: inherit;
	color: #ffffff;
	text-align: center;
}

.detail-button {
	background-color: #81b3d2;
}

.detail-button:hover {
	background-color: #669ec0;
}

.detail-button:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.book-button {
	background-color: #766357;
}

.book-button:hover {
	background-color: #604e43;
}

.book-button:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

/*Общий футер*/

.site-footer {
	color: #000000;

	background-color: #ffffff;
}

.site-footer .hashteg {
	font-size: 21px;
	color: #000000;
}

.site-footer .social-icons {
	list-style: none;
}

.social-button a {
	background-color: #81b3d2;
}

.social-button a:hover {
	background-color: #669ec0;
}

/*Как-то вот здесь не так работает всё*/
.social-button a:focus {
	background-color: #5496bd;
	opacity: 0.3;
}

.twitter-button a {
	background-image: url("../img/twitter-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.facebook-button a {
	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.youtube-button a {
	background-image: url("../img/youtube-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.site-footer .copyright {
	font-weight: 400;
	color: #000000;
}

/*Лого нужно было сделать фоновым изображение, чтобы можно было ему 
поменять цвет при наведении, или есть другой выход? */
