body {
	min-width: 1200px;
	min-height: 2762px;	
	padding: 0;
	margin: 0;

	font-family: "PT Sans", Times New Roman, serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

body.hotel-page {
	min-height: 933px;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.container {
	width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

/*Общий хедер*/

.main-navigation {
	position: relative;

	font-size: 14px;
	line-height: 26px;
	color: #000000;
	letter-spacing: 0.02em;

	background-color: #ffffff;
}

.main-navigation .main-logo {
	position: absolute;
	left: 50%;

	margin-left: -70px;
}

.main-navigation .navigation-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	min-height: 56px;
	padding: 0;
	margin: 0;

	list-style: none;
}

.navigation-list .navigation-item {
	width: 239px;

	text-align: center;
}

/*Выравнивание пунктов меню*/

.navigation-list .navigation-item:nth-child(3) {
	margin-left: 220px;
}

.navigation-item:first-child a {
	margin-left: -22px;
}

.navigation-item:nth-child(2) a {
	margin-right: 14px;
}

.navigation-item:nth-child(3) a {
	margin-left: 28px;
}

.navigation-item:last-child a {
	margin-left: 43px;
}

.navigation-list a {
	color: #000000;
}

.navigation-list a:hover {
	color: #81b3d2;
}

.navigation-list a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.navigation-current-item a {
	color: #766357;
}

/*index.html*/

.introduction {
	width: 1200px;
	min-height: 509px;

	background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
	background-position: 0 452px, 0 -83px;
	background-size: contain, cover;
	background-repeat: no-repeat;
	background-color: #687d8c;
}

.introduction .photo-title {
	display: block;
	margin: 0 auto;
	padding-top: 75px;
}

.reasons {
	display: flex;
	flex-direction: column;

	min-height: 1312px;

	line-height: 21px;
}

.reasons .description-wrapper {
	width: 1200px;
	min-height: 215px;

	text-align: center;
}

.reasons .description {
	margin: 0;
	padding: 0;
	padding-top: 59px;

	color: #000000;
	font-size: 21px;
	line-height: 26px;

	background-color: #ffffff;
}

.reasons .why-better {
	margin: 0;
	padding: 0;
	padding-top: 30px;

	color: #333333;
	font-weight: 400;

	background-color: #ffffff;	
}

.reasons .reasons-list, 
.reasons-list .comfort {
	margin: 0;
	padding: 0;

	list-style: none;
}

.reasons-list {
	display: flex;
	flex-wrap: wrap;
}

.reasons-list .reason-image {
	display: flex;
	flex-direction: column;
	width: 1200px;
	min-height: 256px;

	color: #ffffff;

	background-color: #81b3d2;
}

.reason-image .reason-flex-wrapper {
	display: flex;
}

.reason-flex-wrapper .order-switch {
	order: -1;
}

.reason-image img {
	display: block;
}

.reasons .reason-no-image {
	width: 400px;
	min-height: 256px;

	color: #000000;

	background-color: #eeeeee;
}

.reason-description {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.reason-item p {
	margin: 0;
}

.reason-item h3 {
	margin-top: 47px;
	margin-bottom: 24px;

	font-size: 21px;
	text-align: center;
}

.reason-description p {
	font-weight: 400;
	text-align: center;
}
	
.reason-description span {
	display: block;
	margin-bottom: 21px;
}

.reasons-list .comfort {
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 330px;

	color: #000000;

	background-color: #ffffff;
}

.comfort .comfort-item {
	width: 400px;
	padding: 10px;
}

.comfort .comfort-house::before {
	content: "";

	position: absolute;
	top: 60px;
	left: 162px;

	width: 75px;
	height: 72px;
	background-image: url("../img/icon-house.svg");
	background-repeat: no-repeat;
}

.comfort .comfort-food::before {
	content: "";

	position: absolute;
	top: 61px;
	left: 563px;

	width: 74px;
	height: 70px;
	background-image: url("../img/icon-food.svg");
	background-repeat: no-repeat;
}

.comfort .comfort-souvenirs::before {
	content: "";

	position: absolute;
	top: 56px;
	right: 168px;

	width: 64px;
	height: 76px;
	background-image: url("../img/icon-souvenirs.svg");
	background-repeat: no-repeat;
}

.comfort h3 {
	margin: 0;
	margin-top: 77px;
	margin-bottom: 24px;

	font-size: 21px;
	text-align: center;
}

.comfort p {
	margin: 0;
	margin-top: 0px;

	font-weight: 400;
	text-align: center;
}

.hotel-search {
	min-height: 290px;

	text-align: center;
}

.hotel-search .interest {
	min-height: 95px;
	margin: 0;
	padding: 0;
	padding-top: 50px;

	color: #333333;
	font-weight: 400;
	line-height: 24px;

	background-color: #ffffff;	
}

.interest span {
	display: block;

	color: #000000;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}

.search-button {
	position: relative;

	display: block;
	width: 568px;
	min-height: 86px;
	margin: 0 auto;
	margin-top: 47px;

	font: inherit;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.search-button:hover {
	background-color: #604e43;
}

.search-button:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.search-form {
	position: absolute;
	left: 50%;

	display: none;
	width: 456px;
	min-height: 313px;
	margin-left: -284px;
	padding: 41px 56px;

	color: #000000;

	background-color: #ffffff;
}

/*Класс для управления формой на JS*/
.switch {
	display: block;
}

.search-item input {
	box-sizing: border-box;
	width: 346px;
	height: 38px;
	margin-left: 18px;
	padding: 13px;
	padding-right: 90px;

	font: inherit;
	/*Почему-то цвет текста не меняется. 
	Его как-то к плейсхолдеру надо применить через селектор по атрибуту?*/
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
}

.search-item input:hover {
	background-color: #ebebeb;
}

.search-item input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.search-item .departure-date {
	margin-left: 14px;
	margin-top: 15px;
}

.half-width-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.half-width-wrapper input {
	width: 114px;
	margin-top: 2px;
	margin-left: 35px;
	padding: 0;
	padding-left: 38px;
	padding-right: 38px;
	text-align: center;
}

/*Не работает, потому что не понимаю, кого из родителей
как нужно спозиционировать*/
.half-width-wrapper input::before,
.half-width-wrapper input::after {
	content: "";

	position: absolute;

	width: 12px;
	height: 3px;

	background-color: rgba(0, 0, 0, 0.3);
} 

.half-width-wrapper .children-number {
	margin-left: 20px;
}

.search-form .find-button {
	width: 100%;
	min-height: 58px;
	margin-top: 40px;

	font: inherit;
	font-size: 21px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #81b3d2;
	border: none;
}

.search-form .find-button:hover {
	background-color: #669ec0;
}

.search-form .find-button:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.map {
	min-height: 472px;
	background-color: pink;
}

/*hotels.html*/

.hotels-filter {
	min-height: 217px;

	color: #ffffff;
	line-height: 21px;

	background-color: #657a8a;
	background-image: url("../img/filter-background.jpg");
	background-position: 0 -294px;
	background-size: cover;
	background-repeat: no-repeat;
}

.hotels-filter ul {
	list-style: none;
}

.filter-form {
	display: flex;

	padding-left: 63px;
	padding-right: 63px;
}

.filter-form fieldset {
	width: 240px;
	margin: 0;
	border: none;
}

.filter-form legend {
	font-size: 16px;
}

.filter-form label {
	font-weight: 400;
}

.filter-form .infrastructure,
.filter-form .type {
	margin-top: 27px;
	padding: 8px;

	letter-spacing: 0.02em;
}

.infrastructure legend,
.type legend {
	margin-bottom: 17px;
}

.type legend {
	letter-spacing: 0;
}

.infrastructure .infrastructure-list,
.type .type-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.infrastructure-list .infrastructure-item,
.type-list .type-item {
	margin-bottom: 25px;
}

.infrastructure .infrastructure-item:last-child,
.type-list .type-item:last-child {
	margin-bottom: 0;
}

.infrastructure-item label,
.type-item label {
	position: relative;

	padding-left: 40px;
}

.infrastructure-item input[type="checkbox"] + .checkbox-indicator,
.type-item input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: 1px;

	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.infrastructure-item input[type="checkbox"]:checked + .checkbox-indicator,
.type-item input[type="checkbox"]:checked + .checkbox-indicator {
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

.infrastructure-item input[type="checkbox"]:disabled + .checkbox-indicator,
.type-item input[type="checkbox"]:disabled + .checkbox-indicator {
	background-image: url("../img/checkbox-off-disabled.svg");
	background-repeat: no-repeat;
}

.infrastructure-item input[type="checkbox"]:checked:disabled + .checkbox-indicator,
.type-item input[type="checkbox"]:checked:disabled + .checkbox-indicator {
	background-image: url("../img/checkbox-on-disabled.svg");
	background-repeat: no-repeat;
}

.filter-form .price {
	margin-top: 27px;
	margin-left: 228px;
	padding: 8px;

	letter-spacing: 0.01em;
}

.price .price-list {
	position: relative;

	width: 314px;
	min-height: 32px;
	border: 2px solid #ffffff;
	margin: 0;
	margin-top: 2px;
	padding: 0;
	border-radius: 3px;

	list-style: none;
}

.price .price-list::before {
	content: "";

	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background-color: #ffffff;
	transform: translate(-50%, -50%);
}

.price-list .price-item {
	display: inline-block;
	vertical-align: middle;
}

.price-list label {
	width: 156px;
	padding-left: 63px;
}

.price-list input {
	width: 60px;
	padding-top: 5px;
	border: none;

	font: inherit;
	color: #ffffff;

	background-color: transparent;
}

.price .range-controls {
	position: relative;
}

.range-controls .scale {
	width: 317px;
	height: 2px;
	margin-top: 20px;

	background-color: rgba(255, 255, 255, 0.3);
}

.scale .bar {
	width: 80%;
	height: 2px;

	background-color: #ffffff;
}

.range-controls .range-toggle {
	position: absolute;
	top: -9px;

  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;

  background-color: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-controls .range-toggle:hover {
	border-width: 9px;
}

.range-controls .range-toggle-max {
	left: 79%;
}

.price .result-button {
	display: block;
	margin-top: 32px;
	margin-left: 83px;
	padding: 5px 35px;
	border: 2px solid #ffffff;

	color: #ffffff;
	font: inherit;
	font-weight: 400;
	text-transform: uppercase;

	background-color: transparent;
}

.price .result-button:hover {
	color: #000000;

	background-color: #ffffff;
}

.search-result {
	min-height: 453px;

	color: #000000;

	background-color: #ffffff;
}

.search-result .sorting {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 86px;
	padding-left: 72px;
	padding-right: 73px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.sorting .sorting-find {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.sorting .sorting-type {
	margin-top: 15px;
	margin-left: 48px;
}

.sorting .sorting-variants {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	margin-top: 15px;

	list-style: none;
}

.sorting-variants a {
	margin-right: 33px;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);

	color: rgba(0, 0, 0, 0.3);
}

.sorting-variants a:hover {
	border-bottom: 1px dotted #81b3d2;

	color: #81b3d2;
}

.sorting-variants a:focus {
	border: none;

	color: #000000;
}

.sorting-current-item a {
	border: none;

	color: #81b3d2;	
}

/*Стрелки-указатели типа сортировки*/
.sorting .sorting-buttons {
	position: relative;
}

.sorting-buttons button {
	position: absolute;

	width: 0;
	height: 0;
	padding: 0;
	border: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	box-shadow: none;
	outline: none;
	background-color: transparent;
}

.sorting-buttons .button-up {
	top: -3px;
	left: -34px;

	border-bottom: 10px solid #cacaca;
}

.sorting-buttons .button-down {
	top: -4px;
	left: -11px;

	border-top: 10px solid #cacaca;
}

.sorting-buttons .button-up:hover {
	border-bottom-color: #000000;
}

.sorting-buttons .button-down:hover {
	border-top-color: #000000;
}

.sorting-buttons .button-up:focus {
	border-bottom-color: #81b3d2;
}

.sorting-buttons .button-down:focus {
	border-top-color: #81b3d2;
}

.sorting-current-button {
	border-top-color: #81b3d2;
}

.hotels-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.hotels-list .hotels-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 150px;
	padding-left: 72px;
	padding-right: 72px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hotels-item .hotel-flex-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-self: stretch;
	margin-top: 0px;
	padding-left: 30px;
}

.hotels-item img {
	order: -1;
}

.hotel-name {
	margin: 0;
	margin-top: 25px;
	letter-spacing: 0.01em;
}

.hotel-name a {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.hotel-name a:hover {
	color: #81b3d2;
}

.hotel-name a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.hotels-item .hotel-amara {
	background-color: #7d3945;
}

.hotels-item .hotel-desert {
	background-color: #9e898b;
}

.hotels-item .hotel-villas {
	background-color: #73874b;
}

.hotel-category {
	margin: 0;
	margin-top: 6px;

	font-weight: 400;
	color: #333333;
	line-height: 21px;
}

.hotel-category span {
	display: inline-block;
	width: 110px;
	vertical-align: center;
	margin-right: 3px;
}

.hotel-buttons {
	margin: 0;
	margin-top: 14px;
}

.hotel-buttons a {
	padding-top: 4px;
	padding-right: 17px;
	padding-bottom: 5px;
	padding-left: 17px;
	margin-right: 2px;

	font: inherit;
	color: #ffffff;
	text-align: center;
}

.detail-button {
	background-color: #81b3d2;
}

.detail-button:hover {
	background-color: #669ec0;
}

.detail-button:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.book-button {
	background-color: #766357;
}

.book-button:hover {
	background-color: #604e43;
}

.book-button:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.hotel-rating {
	position: relative;

	margin-top: 75px;
	margin-right: 0px;
	padding-left: 18px;
	padding-right: 12px;

	font-weight: 400;
	color: #666666;

	background-color: #f2f2f2;
}

/*Звёздочки рейтинга*/
.hotel-rating::before {
	content: "";

	position: absolute;
	right: 0;
	bottom: 73px;

	width: 89px;
	height: 17px;

	background-image: url("../img/star.svg");
	background-repeat: space;
}

.hotel-rating-amara::before {
	width: 89px;
}

.hotel-rating-desert::before {
	width: 66px;
}

.hotel-rating-villas::before {
	width: 42px;
}

/*Общий футер*/

.site-footer {
	display: flex;
	justify-content: space-between;
	color: #000000;

	background-color: #ffffff;
}

.site-footer .hashteg {
	width: 240px;
	min-height: 120px;
	margin: 0;
	margin-left: 70px;
	padding-top: 47px;

	font-size: 21px;
	color: #000000;
	text-align: center;
}

.site-footer .social-icons {
	display: flex;
	justify-content: space-between;
	width: 150px;
	min-height: 120px;
	margin: 0;
	padding: 0;
	padding-top: 37px;

	list-style: none;
}

.social-icons .social-button {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;

	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:focus path {
	fill: rgba(255, 255, 255, 0.3);
}

/*Сделать через svg*/
.site-footer .copyright {
	display: flex;
	width: 240px;
	min-height: 120px;
	margin: 0;
	margin-right: 71px;
	padding-top: 40px;


	font-weight: 400;
	color: #000000;
}

.copyright span {
	padding-top: 7px;
	margin-left: 23px;
}

.copyright .copyright-logo {
	width: 115px;
	height: 41px;
	margin-left: 9px;
}

